@import url('https://fonts.googleapis.com/css?family=Roboto');


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight:
  font-size: 16pt;
  box-sizing: border-box;
}

//Fette Schrift für Überschriften im Header
header h1 {
  font-size: 2em;
  font-weight: bold;
}

img {
width:50%;
}